<% if object.errors.any? %>
  <div id="error_explanation">
    <h4><%= t('there_where_the_problems_with_following_fields')%></h4>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>