<% if signed_in? %>
    <table summary="For signed-in users">
      <tr>
        <td class="main">
          <h1 class="micropost">What's up?</h1>
          <%= link_to "Send secret file", "pages/send_secret_file" %>
        </td>
        <td>
        </td>
      </tr>
    </table>
<% else %>
    <h1>Any advert</h1>

    <%= link_to "Sign up now!", signup_path %>
<% end %>