.cleaner { clear: both }
.float_left { float: left }
.float_right { float: right }
.center { text-align: center;}
.block {display: block;}
.invisible {display: none;}

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

p, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  color: #419639;
}

html{min-height: 100%;}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  width: 1100px;
  margin: auto;
  cursor: default;
  position: relative;
  min-height: 100%;
  background: rgb(40,40,40); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(40,40,40,1) 1%, rgba(69,72,77,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(40,40,40,1)), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(40,40,40,1) 1%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(40,40,40,1) 1%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(40,40,40,1) 1%,rgba(69,72,77,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(40,40,40,1) 1%,rgba(69,72,77,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
}

a{
  text-decoration: none;
  color: #333;
}

label{
  font-size: 0.8em;
  padding: 3px;
  margin-top: 5px;
  color: #328dbf;
}

table{
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  width: 100%;
  border-collapse: collapse;
  th{
    background: -webkit-linear-gradient(top,#FAFAFA,#EFEFEF);
    background: -moz-linear-gradient(top,#FAFAFA,#EFEFEF);
    height: 30px;
  }
  tr{
    background-color: white;
    & td{
      border: 1px solid #e1e1e1;
      padding: 3px;
    }
  }
}

.file_wrapper{
  position: relative;
  height: 30px;
  width: 225px;
  overflow-x: visible;
  display: inline-block;
  margin: 10px;
  .file{
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  button{
    cursor: pointer;
    height: 100%;
    width: 100px;
    text-shadow: 1px 1px 0px #2a87a2;
    background: -webkit-linear-gradient(top, #5BC0DE, #328dbf);
    background: -moz-linear-gradient(top, #5BC0DE, #328dbf);
    border: none;
    color: #f5f5f5;
    padding: 3px 5px;
    border-radius: 1px;
    position: relative;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 2px #2a87a2;
    font-size: 0.8em;
  }
  .just_uploaded_file_name{
    padding-left: 5px;
    color: #286f97;
    width: 120px !important;
    display: inline-block;
    overflow-x: visible;
  }
}

#header {
  width: 100%;
  height: 90px;
  border-radius: 0 0 15px 15px;
  padding: 0 15px 15px;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 100;
  a{
    padding: 7px;
    cursor: pointer;
    display: block;
    float: right;
    margin: 30px 20px;
    height: 30px;
    color: #419639;
    font-weight: bold;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    &:hover{
      color: white;
      background-color: rgba(255, 255, 255, 0.14);
    }
  }
  #admin_links{
    a{
      color: #d1d1d1;
    }
  }
}

#signin_window_toggler{
  width: 30px;
  height: 40px;
  cursor: pointer;
  position: relative;
  top: 137px;
  left: 120px;
}

#signin_window{
  float: right;
  width: 200px;
  text-align: left;
  position: absolute;
  left: 100px;
  top: -250px;
  padding: 10px;
  z-index: 50;
  background-color: #ffffff;
  opacity: 0.90;
  color: #004e76;
  h3{
    margin: 0;
    border-bottom: 1px solid #ddd;
  }
  input{
    width: 180px;
  }
  input[type=submit]{
    margin: 5px auto;
  }
}

.flash_box{
  position: fixed;
  top: 0;
  left:33%;
  width: 34%;
  .flash{
    padding: 5px;
    color: #f9f9f9;
    text-align: center;
    border-top: none !important;
    border-radius: 0 0 5px 5px;
    margin-bottom: 3px;
    span{
      float: left;
      cursor: pointer;
      font-weight: bolder;
      font-size: 0.8em;
      padding-top: 0.1em;
      background-color: rgba(132, 51, 48, 0.53);
      height: 1.5em;
      width: 1.5em;
      border-radius: 1em;
      color: #e8e8e8;
    }
    &.success{
      background-color: #51A351;
      border: 2px solid #438543;
      box-shadow: 0 0 2px #51A351;
    }
    &.error{
      background-color: #BD362F;
      border: 2px solid #962b26;
      box-shadow: 0 0 2px #BD362F;
    }
    &.notice{
      background-color: #2a87a2;
      border: 2px solid #1e6174;
      box-shadow: 0 0 2px #2a87a2;
    }
  }
}

#main {
  margin: 0 auto 20px;
  min-width: 970px;
  width: 90%;
  min-height: 500px;
  border-radius: 12px;
  background-color: white;
  input{
    height: 30px;
    box-shadow: 0px 1px 3px rgba(133, 133, 133, 0.80) inset;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 5px;
    color: #444;
    margin-bottom: 7px;
    &[type=submit], &[type=button]{
      padding: 4px 10px;
      border: none;
      text-align: center;
      border-radius: 1px;
      color: #eee;
      text-shadow: 1px 1px 0px #499249;
      background: -webkit-linear-gradient(top, #62C462, #51A351);
      background: -moz-linear-gradient(top, #62C462, #51A351);
      margin: 10px;
      white-space: nowrap;
      cursor: pointer;
      font-size: 0.8em;
      min-width: 100px;
    }
  }
  input[type=file]{
    border: none;
    box-shadow: none;
  }
  .button{
    box-shadow: 0px 0px 2px rgba(133, 133, 133, 0.80);
    text-align: center;
    height: 30px;
    border-radius: 1px;
    padding: 8px 10px;
    color: #eee;
    display: inline-block;
    white-space: nowrap;
    font-size: 0.8em;
    cursor: pointer;
    background-color: #808080;
    &.yellow{
      text-shadow: 1px 1px 0px #9b7b2c;
      background: -webkit-linear-gradient(top, #FFFEB8, #C49C38);
      background: -moz-linear-gradient(top, #FFFEB8, #C49C38);
    }
    &.blue{
      text-shadow: 1px 1px 0px #2a87a2;
      background: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
      background: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
    }
    &.green{
      text-shadow: 1px 1px 0px #499249;
      background: -webkit-linear-gradient(top, #62C462, #419639);
      background: -moz-linear-gradient(top, #62C462, #419639);
    }
    &.red{
      text-shadow: 1px 1px 0px #ac312b;
      background: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
      background: -moz-linear-gradient(top, #EE5F5B, #BD362F);
    }
    &.grey{
      color: #777;
      background: url("button-bg.jpg");
    }
  }
  textarea{
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 1px 3px rgba(133, 133, 133, 0.80) inset;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 5px;
    color: #444;
    margin-bottom: 7px;
  }
}

#cap{
  height: 220px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  background: url("cap.jpg") no-repeat;
  background-size: cover;
  position: relative;
  #search_form{
    position: absolute;
    top: 10px;
    right: 10px;
    input[type=text]{
      border-radius: 3px 0 0 3px;
      border: none;
      outline: none;
      height: 25px;
      padding: 3px;
      color: #555;
      margin: 0;
      margin-right: 25px;
      background-color: rgba(255, 255, 255, 0.87);
      box-shadow: none;
    }
    #search_submit{
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: none;
      min-width: 25px;
      height: 25px;
      width: 25px;
      margin: 0;
      background: url("binoculars.png") rgba(255, 255, 255, 0.87) no-repeat;
      background-position: 1px 1px;
      background-size: 90%;
      border: none;
      cursor: pointer;
      border-radius: 0 3px 3px 0;
    }
  }
}

#sidebar{
  width: 20%;
  height: inherit;
  float: left;
  background: url("leftsidebar_bg.jpg") repeat;
  display: block;
  padding: 5px 5px 15px;
  border-right: 1px solid #15609f;
  border-radius: 0 0 0 12px;
  .sidebar_box {
  }
}

#content{
  float: left;
  width: 80%;
  padding: 10px;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 95%;
  font-size: 80%;
  color: #d3d3d3;
  a{
    color: #d3d3d3;
    &:hover{
      text-decoration: underline;
    }
  }
}

.form_fields, .form_errors{
  width: 50%;
  padding: 10px;
  float: left;
}

.field_notice{
  font-size: 0.8em;
  color: #13568f;
  margin: 4px;
  display: inline-block;
}

#error_explanation{
  background-color: #fbfbfb;
  border: 1px solid rgba(141, 52, 58, 0.85);
  padding: 5px;
  h4{
    padding: 7px;
    border-bottom: 1px solid #ddd;
    color: black;
  }
  ul{
    padding: 5px 50px;
    list-style: none;
    line-height: 1.5em;
    color: #222;
  }
}

//cart

.checkout, .empty_cart{
  display: inline-block;
  background-color: #FAFAFA;
  border: 1px solid #e1e1e1;
  padding: 5px;
  margin-bottom: -1px;
  height: 30px;
  border-bottom: none;
}
.checkout{
  float: right;
  border-right: none;
  border-radius: 5px 0 0 0;
  cursor: poiner;

  padding-right: 10px;
  padding-left: 10px;
}
.empty_cart{
  border-left: none;
  float: right;
  border-radius: 0 5px 0 0;
  cursor: poiner;
  padding-right: 10px;
  padding-left: 10px;
}

.cart_total_price{
  display: inline-block;
  background-color: #EFEFEF;
  border-radius: 0 0 10px 10px;
  float: right;
  height: 70px;
  min-width: 115px;
  text-align: center;
  .cap_total{
    font-size: 0.7em;
    padding: 10px;
  }
  .price{
    margin-top: 10px;
    font-size: 1.15em;
    color: #468c46;
    font-weight: bold;
  }
}

.star{
  text-decoration: none !important;
  font-size: 0.9em;
  color: #EE5F5B;
}

#new_product, #new_category{
  margin-top: -30px;
}

.admin_product{
  padding: 10px 10px 15px;
  min-height: 120px;
  font-size: 0.95em;
  &:nth-child(odd){
    background-color: rgba(244, 244, 244, 0.99);
  }
  .image_wrapper{
    float: left;
    width: 120px;
  }
  .product_title{
    font-weight: 700;
    color: #333;
    width: 70%;
  }
  .actions{
    text-align: center;
    font-size: 0.8em;
    float: right;
    a{
      padding-top: 10px;
      margin-left: 5px;
      img{
        height: 10px;
        width: 10px;
      }
    }
  }
  .product_price{
    float: left;
    color: #2e8b57;
    font-weight: bold;
  }
  .product_desc{
    float: left;
    margin-top: -5px;
  }
}

#category_actions{
  #edit_category:hover{
    color: #13568f;
  }
  #delete_category:hover{
    color: #ac312b;
  }
}