.cleaner { clear: both }
.float_left { float: left }
.float_right { float: right }
.center { text-align: center;}
.block {display: block;}
.invisible {display: none;}

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

p, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  color: #419639;
}
h1{
  font-size: 1.5em;
}

html{min-height: 100%;}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  margin: auto;
  cursor: default;
  position: relative;
  min-height: 100%;
  background: #fcfcfc;
}

a{
  text-decoration: none;
  color: #333;
}

label{
  font-size: 0.8em;
  padding: 3px;
  margin-top: 5px;
  color: #328dbf;
}

.file_wrapper{
  position: relative;
  height: 30px;
  width: 225px;
  overflow-x: visible;
  display: inline-block;
  margin: 10px 3px;
  .file{
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  button{
    cursor: pointer;
    height: 100%;
    width: 100px;
    background: -webkit-linear-gradient(top, #5BC0DE, #328dbf);
    background: -moz-linear-gradient(top, #5BC0DE, #328dbf);
    border: none;
    color: #f5f5f5;
    padding: 3px 5px;
    border-radius: 1px;
    position: relative;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 2px #2a87a2;
    font-size: 0.8em;
  }
  .just_uploaded_file_name{
    padding-left: 5px;
    color: #286f97;
    width: 120px !important;
    display: inline-block;
    overflow-x: visible;
  }
}

#header {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 90px;
  padding: 0 15px 15px;
  text-transform: uppercase;
  background: rgba(80, 121, 171, 0.92); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(80, 121, 171, 0.92) 0%, rgba(80, 121, 171, 0.92) 95%, #599352 96%, #599352 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80, 121, 171, 0.92)), color-stop(95%,rgba(80, 121, 171, 0.92)), color-stop(96%,#599352), color-stop(100%,#599352)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(80, 121, 171, 0.92) 0%,rgba(80, 121, 171, 0.92) 95%,#599352 96%,#599352 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(80, 121, 171, 0.92) 0%,rgba(80, 121, 171, 0.92) 95%,#599352 96%,#599352 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(80, 121, 171, 0.92) 0%,rgba(80, 121, 171, 0.92) 95%,#599352 96%,#599352 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(80, 121, 171, 0.92) 0%,rgba(80, 121, 171, 0.92) 95%,#599352 96%,#599352 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(80, 121, 171, 0.92)', endColorstr='#599352',GradientType=0 ); /* IE6-9 */
  font-size: 12px;
  z-index: 100;
  a{
    padding: 7px;
    cursor: pointer;
    display: block;
    float: right;
    margin: 30px 20px;
    height: 30px;
    color: white;
    font-weight: bold;
    &:hover{
      color: rgb(82, 133, 97);
      background-color: #e9e9e9;
    }
  }
  #admin_links{
    a{
      color: #555;
      &:hover{
        color: #333
      }
    }
  }
}

#signin_window_toggler{
  width: 30px;
  height: 40px;
  cursor: pointer;
  position: relative;
  top: 155px;
  left: 140px;
}

#signin_window{
  float: right;
  width: 200px;
  text-align: left;
  position: absolute;
  left: 100px;
  top: -250px;
  padding: 10px;
  z-index: 50;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-top: none;
  color: #004e76;
  h3{
    margin: 0;
    border-bottom: 1px solid #ddd;
  }
  input{
    width: 180px;
  }
  input[type=submit]{
    margin: 5px auto;
  }
}

.flash_box{
  position: fixed;
  top: 0;
  left:33%;
  width: 34%;
  .flash{
    padding: 5px;
    color: white;
    text-align: center;
    span{
      float: left;
      cursor: pointer;
      font-weight: bolder;
      font-size: 0.8em;
      padding-top: 0.1em;
      height: 1.5em;
      width: 1.6em;
      color: #e8e8e8;
    }
    &.success{
      background-color: rgba(81, 163, 81, 0.8);
      span{
        background-color: rgba(81, 163, 81, 1);
      }
    }
    &.error{
      background-color: rgba(189, 54, 47, 0.8);
      span{
        background-color: rgba(132, 51, 48, 0.8);
      }
    }
    &.notice{
      background-color: rgba(42, 135, 162, 0.8);
      span{
        background-color: rgba(42, 135, 162, 1);
      }
    }
  }
}

#main {
  margin: 0 auto 20px;
  min-width: 970px;
  width: 1100px;
  background-color: #f7f7f7;
  input{
    height: 30px;
    border: 1px solid #a3a3a3;
    padding: 5px;
    color: #444;
    margin-bottom: 7px;
    &[type=submit], &[type=button]{
      padding: 4px 10px;
      border: none;
      text-align: center;
      border-radius: 1px;
      color: #eee;
      text-shadow: 1px 1px 0px #499249;
      background: -webkit-linear-gradient(top, #62C462, #51A351);
      background: -moz-linear-gradient(top, #62C462, #51A351);
      margin: 10px 3px;
      white-space: nowrap;
      cursor: pointer;
      font-size: 0.8em;
      min-width: 100px;
    }
  }
  input[type=file]{
    border: none;
    box-shadow: none;
  }
  .button{
    box-shadow: 0px 0px 2px rgba(133, 133, 133, 0.80);
    text-align: center;
    height: 30px;
    border-radius: 1px;
    padding: 8px 10px;
    color: #eee;
    display: inline-block;
    white-space: nowrap;
    font-size: 0.8em;
    cursor: pointer;
    background-color: #808080;
    &.yellow{
      text-shadow: 1px 1px 0px #9b7b2c;
      background: -webkit-linear-gradient(top, #FFFEB8, #C49C38);
      background: -moz-linear-gradient(top, #FFFEB8, #C49C38);
    }
    &.blue{
      text-shadow: 1px 1px 0px #2a87a2;
      background: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
      background: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
    }
    &.green{
      text-shadow: 1px 1px 0px #499249;
      background: -webkit-linear-gradient(top, #62C462, #419639);
      background: -moz-linear-gradient(top, #62C462, #419639);
    }
    &.red{
      text-shadow: 1px 1px 0px #ac312b;
      background: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
      background: -moz-linear-gradient(top, #EE5F5B, #BD362F);
    }
    &.grey{
      color: #777;
      background: url("button-bg.jpg");
    }
  }
  textarea{
    width: 100%;
    max-width: 100%;
    border: 1px solid #a3a3a3;
    padding: 5px;
    color: #444;
    margin-bottom: 7px;
  }
}

#cap{
  height: 220px;
  width: 100%;
  background: url("cap.jpg") no-repeat;
  background-size: cover;
  position: relative;
  #search_form{
    position: absolute;
    top: 10px;
    right: 10px;
    input[type=text]{
      border-radius: 0;
      border: none;
      outline: none;
      height: 25px;
      padding: 3px;
      color: #555;
      margin: 0;
      margin-right: 25px;
      background-color: rgba(255, 255, 255, 0.87);
      box-shadow: none;
      width: 240px;
    }
    #search_submit{
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: none;
      min-width: 25px;
      height: 25px;
      width: 25px;
      margin: 0;
      background: url("binoculars.png") rgba(255, 255, 255, 0.87) no-repeat;
      background-position: 1px 1px;
      background-size: 90%;
      border: none;
      cursor: pointer;
    }
  }
}

#sidebar{
  width: 300px;
  height: inherit;
  float: right;
  background-color: rgba(65, 150, 57, 0.43);
  display: block;
  padding: 100px 0;
  border-left: 4px solid rgba(80, 121, 171, 0.92);
  a.category_link{
    display: block;
    color: white;
    font-weight: bold;
    padding: 10px;
    height: 40px;
    width: 100%;
    font-size: 15px;
  }
  a.category_link.active, a.category_link:hover{
    border-bottom: 1px solid rgba(65, 150, 57, 0.43);
    color: #e9e9e9;
    background-color: rgba(80, 121, 171, 0.92);

  }
}

#content{
  float: left;
  width: 800px;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 1100px;
  font-size: 80%;
  color: #333;
  a{
    color: #333;
    &:hover{
      text-decoration: underline;
    }
  }
}

.form_fields, .form_errors{
  width: 50%;
  padding: 10px;
  float: left;
}

.field_notice{
  font-size: 0.8em;
  color: #13568f;
  margin: 4px;
  display: inline-block;
}

#error_explanation{
  background-color: #fbfbfb;
  border: 1px solid rgba(141, 52, 58, 0.85);
  padding: 5px;
  h4{
    padding: 7px;
    border-bottom: 1px solid #ddd;
    color: black;
  }
  ul{
    padding: 5px 50px;
    list-style: none;
    line-height: 1.5em;
    color: #222;
  }
}

//cart

.checkout, .empty_cart{
  display: inline-block;
  background-color: #FAFAFA;
  border: 1px solid #e1e1e1;
  padding: 5px;
  margin-bottom: -1px;
  height: 30px;
  border-bottom: none;
}
.checkout{
  float: right;
  border-right: none;
  border-radius: 5px 0 0 0;
  cursor: poiner;

  padding-right: 10px;
  padding-left: 10px;
}
.empty_cart{
  border-left: none;
  float: right;
  border-radius: 0 5px 0 0;
  cursor: poiner;
  padding-right: 10px;
  padding-left: 10px;
}

.cart_total_price{
  display: inline-block;
  background-color: #EFEFEF;
  border-radius: 0 0 10px 10px;
  float: right;
  height: 70px;
  min-width: 115px;
  text-align: center;
  .cap_total{
    font-size: 0.7em;
    padding: 10px;
  }
  .price{
    margin-top: 10px;
    font-size: 1.15em;
    color: #468c46;
    font-weight: bold;
  }
}

.star{
  text-decoration: none !important;
  font-size: 0.9em;
  color: #EE5F5B;
}

#new_product, #new_category{
  margin-top: -25px;
}

table{
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  width: 100%;
  border-collapse: collapse;
  th{
    background: -webkit-linear-gradient(top,#FAFAFA,#EFEFEF);
    background: -moz-linear-gradient(top,#FAFAFA,#EFEFEF);
    height: 30px;
  }
  tr{
    background-color: white;
    & td{
      border: 1px solid #e1e1e1;
      padding: 3px;
      vertical-align: top;
    }
    .title{
      font-size: 1.1em;
      font-weight: 700;
      color: #333;
    }
    .currency{
      font-weight: bold;
      color: #2e8b57;
      text-align: right;
    }
  }
  .admin_table_actions{
    .edit_action:hover{
      color: #13568f;
    }
    .delete_action:hover{
      color: #ac312b;
    }
  }
}

.product{
  display: block;
  float: left;
  margin: 4px;
  width: 99%;
  height: 260px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  border-bottom: 2px solid rgba(80, 121, 171, 0.3);
  &:last-child{
    border-bottom: none;
  }
  .product_image{
    position: relative;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    &:hover .zoom_in{
      position: absolute;
      top: 3px;
      left: 3px;
      background: url("zoom_in.png") no-repeat rgba(255, 255, 255, 0.56) center;
      background-size: 12px 12px;
      width: 20px;
      height: 20px;
      border-radius: 5px;
    }
  }
  .product_title{
    color: rgba(80, 121, 171, 1);
    font-size: 1.2em;
    font-weight: bold;
    float: left;
  }
  .product_price{
    float: right;
    color: rgba(65, 150, 57, 1);
    font-weight: bold;
  }
  .product_desc{
    margin-top: 35px;
    color: #222;
  }
  .product_details_link{
    position: absolute;
    bottom: 10px;
    right: 5px;
    border-radius: 3px;
    color: #eee;
    background-color: rgba(80, 121, 171, 1);
    padding: 4px;
    font-size: 0.9em;
  }
  span.search_value{
    background-color: rgba(65, 150, 57, 0.2);
    border-radius: 3px 6px;
    padding: 0 4px;
  }
}

.image_preview_wrapper{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(162, 162, 180, 0.62);
  .image_preview{
    display: inline-block;
    border: 15px solid rgba(245, 245, 245, 0.83);
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
  }
}



