<div id="cap">
  <%= form_tag "/articles/index", method: "get", id: "search_form" do %>
    <%= text_field_tag :search, "", placeholder: t('search')%>
    <%= submit_tag '', id: "search_submit", hint: t('search')%>
  <% end %>
  <% unless signed_in? %>
    <div id="signin_window_toggler"></div>
  <% end %>
</div>