<% if signed_in? %>
<% else %>
  <div id="sidebar">
    <% @categories.each do |cat| %>
      <%= link_to cat.name, "/catalog?category=#{cat.name}", class: "category_link" %>
    <% end if @categories%>
  </div>
<% end %>

