<div id="sidebar">
  <div class="sidebar_box">
    <h3 class="sidebar_title"><%= t("products_categories") %></h3>
    <% @categories.each do |cat| %>
      <%= link_to raw(cat.name + "<span class='count'>#{cat.products.length}</span>"),
                  "/catalog?category=#{cat.id}",
                  class: "item #{"active" if params[:category] == cat.id.to_s}" %>
    <% end if @categories%>
  </div>

  <div class="sidebar_box" id="sidebar_cart">
    <%= render "shared/cart" %>
  </div>
</div>

